<section class="worldOverviewHeader">
  <button [routerLink]="'/campaign/' + worldOverview.id">Back</button>
  <h2>{{worldOverview.campaignName}}</h2>
</section>
<section class="worldOverviewBody">
  <div class="worldOverviewCardLeft" [routerLink]="'/campaign/' + worldOverview.id + '/mainMapOverview'">
    <img [src]="'assets/images/Rule_crafter_9.jpg'" [alt]="worldOverview.campaignName">
    <span>Main Map Overview</span>
  </div>
  <section class="worldOverviewCardRight">
    <div class="worldOverviewCard" [routerLink]="'/campaign/' + worldOverview.id + '/primaryRaceOverview'">
      <img [src]="'assets/images/Rule_crafter_3.jpg'" [alt]="worldOverview.campaignName">
      <span>Primary Races</span>
    </div>
    <div class="worldOverviewCard" [routerLink]="'/campaign/' + worldOverview.id + '/factions'">
      <img [src]="'assets/images/Rule_crafter_8.jpg'" [alt]="worldOverview.campaignName">
      <span>Factions</span>
    </div>
    <div class="worldOverviewCard" [routerLink]="'/campaign/' + worldOverview.id + '/monsters'">
      <img [src]="'assets/images/Rule_crafter_10.jpg'" [alt]="worldOverview.campaignName">
      <span>Monsters</span>
    </div>
    <div class="worldOverviewCard" [routerLink]="'/campaign/' + worldOverview.id + '/timeline'">
      <img [src]="'assets/images/Rule_crafter_14.jpg'" [alt]="worldOverview.campaignName">
      <span>Timeline</span>
    </div>
  </section>
</section>

