
<div class="character-sheet">
  <header>
    <h1>{{character.name}}</h1>
    <div class="info">
      <div class="classes">
        <strong>Classe(s) : </strong>
        @for (classe of character.classes; track classe.name){
          <div class="classe">{{classe.name | titlecase}} ({{classe.level}})</div>
        }
      </div>
      <div><strong>Race : </strong>{{ character.race | titlecase}}</div>
      <div><strong>Alignment : </strong>{{ character.alignment.replace("_", " ") | titlecase}}</div>
    </div>
    <div class="header-decoration">
      <img src="/assets/images/decorator-hr-lg.png" alt="">
    </div>
  </header>

  <section class="up-blocks">
    <div class="stat-block">
      <div class="stat-block-name">
        <h2>Stats</h2>
      </div>
      <div class="stats">
        @for (stat of character.stats; track stat.name){
          <div class="stat">
            <div class="stat-name">{{stat.shortName | uppercase}}</div>
            <div class="stat-value">{{stat.value}}</div>
          </div>
        }

      </div>

    </div>
  </section>

  <div class="up-blocks">
    @for(proficiency of character.proficiencies; track proficiency.skillName){
      <div class="proficiency">{{proficiency.skillName}} : lvl {{proficiency.proficiencyLevel}}</div>
    }
  </div>

  <div class="up-blocks">
    @for(savingThrow of character.savingThrows; track savingThrow.abilityName){
      <div class="savingThrow">{{savingThrow.abilityName}} : {{savingThrow.value}}</div>
    }
  </div>

</div>
