
<div class="character-sheet">
  <header>
    <h1>{{character.name}}</h1>
    <div class="info">
      <div><strong>Classe : </strong>{{ character.classType}}</div>
      <div><strong>Race : </strong>{{ character.race}}</div>
      <div><strong>Alignement : </strong>{{ character.alignement}}</div>
    </div>
    <div class="header-decoration">
      <img src="/assets/images/decorator-hr-lg.png" alt="">
    </div>
  </header>

  <section class="up-blocks">
    <div class="stat-block">
      <div class="stat-block-name">
        <h2>Stats</h2>
      </div>
      <div class="stats">
        <div class="stat">
          <div class="stat-name">STR</div>
          <div class="stat-value">{{character.abilities.str}}</div>
        </div>
        <div class="stat">
          <div class="stat-name">WIS</div>
          <div class="stat-value">{{character.abilities.wis}}</div>
        </div>
        <div class="stat">
          <div class="stat-name">DEX</div>
          <div class="stat-value">{{character.abilities.dex}}</div>
        </div>
        <div class="stat">
          <div class="stat-name">CON</div>
          <div class="stat-value">{{character.abilities.con}}</div>
        </div>
        <div class="stat">
          <div class="stat-name">CHA</div>
          <div class="stat-value">{{character.abilities.cha}}</div>
        </div>
        <div class="stat">
          <div class="stat-name">INT</div>
          <div class="stat-value">{{character.abilities.intel}}</div>
        </div>
      </div>

<!--      @for (ability of character.abilities; track ability.name){-->
<!--        <div class="stat">-->
<!--          <div><strong>{{ ability.name | uppercase }}</strong></div>-->
<!--          <div>:</div>-->
<!--          <div>{{ability.score}}</div>-->
<!--        </div>-->
<!--      }-->

    </div>
  </section>

</div>
