:host{
  display: flex;
  flex-direction: column;

  .worldOverviewHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      position: absolute;
      top: 0;
      left: 0;
      margin: 1rem;
    }

    h2 {
      display: flex;
      justify-content: center;
      margin: 2rem;
    }
  }

  .worldOverviewBody {
    display: flex;
    flex-direction: row;
    overflow: auto;

    .worldOverviewCardLeft {
      width: 30rem;
      height: 36rem;
      border: black solid 3px;
      overflow: hidden;
      margin: 3rem;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }

      span {
        position: absolute;
        top: 50%;
        bottom: 50%;
        text-align: center;
        transform: translate(30%);
        font-size: 30px;
        color: white;
      }
    }

    .worldOverviewCardRight {
      display: flex;
      flex-direction: row;
    }
  }
}
