<section class="campaignHomeHeader">
  <div id="campaignHomeHeadBtn">
    <button id="createCampaign" [routerLink]="'/campaign/campaignCreation/home'">Create Campaign</button>
    <button id="backHome" [routerLink]="'/home'">Go back Home</button>
  </div>
  <h2 class="title">Campaigns</h2>
</section>
<section class="btnContainer">
  <div class="btn">
    <button class="creationChoiceBtn" [routerLink]="'/campaign/campaignCreation/basicsInfo'">Basic Info Creation</button>
  </div>
  <div>
    <button class="creationChoiceBtn" [routerLink]="'/campaign/campaignCreation/faction'">Faction Creation</button>
  </div>
  <div>
    <button class="creationChoiceBtn" [routerLink]="'/campaign/campaignCreation/location'">Location Creation</button>
  </div>
  <div>
    <button class="creationChoiceBtn" [routerLink]="'/campaign/campaignCreation/region'">Region Creation</button>
  </div>
  <div>
    <button class="creationChoiceBtn" [routerLink]="'/campaign/campaignCreation/mainQuest'">Main Quest Creation</button>
  </div>
  <div>
    <button class="creationChoiceBtn" [routerLink]="'/campaign/campaignCreation/sideQuest'">Side Quest Creation</button>
  </div>
  <div>
    <button class="creationChoiceBtn" [routerLink]="'/campaign/campaignCreation/npc'">Npc Creation</button>
  </div>
  <div>
    <button class="creationChoiceBtn" [routerLink]="'/campaign/campaignCreation/scenario'">Scenario Creation</button>
  </div>
</section>
