<section class="btnContainer">
  <div class="btn">
    <button [routerLink]="'/campaign/campaignCreation/basicsInfo'">Basic Info Creation</button>
  </div>
  <div>
    <button [routerLink]="'/campaign/campaignCreation/faction'">Faction Creation</button>
  </div>
  <div>
    <button [routerLink]="'/campaign/campaignCreation/location'">Location Creation</button>
  </div>
  <div>
    <button [routerLink]="'/campaign/campaignCreation/region'">Region Creation</button>
  </div>
  <div>
    <button [routerLink]="'/campaign/campaignCreation/mainQuest'">Main Quest Creation</button>
  </div>
  <div>
    <button [routerLink]="'/campaign/campaignCreation/sideQuest'">Side Quest Creation</button>
  </div>
  <div>
    <button [routerLink]="'/campaign/campaignCreation/npc'">Npc Creation</button>
  </div>
  <div>
    <button [routerLink]="'/campaign/campaignCreation/scenario'">Scenario Creation</button>
  </div>
</section>
