

// Character sheet - Apparence générale du corps de la page
body {
  background: #dfe6e9; /* Couleur de fond principale de la page */
}

h2{
  margin-bottom: 0;
}

/* Conteneur principal de la feuille de personnage */
.character-sheet {
  position: relative; /* Nécessaire pour positionner les pseudo-éléments */
  width: 100vh; /* Largeur de 50% de la page */
  max-width: 800px; /* Largeur maximale de 800px */
  //height: 80vh; /* Hauteur 80% écran visible */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  margin: 20px auto; /* Centrage horizontal */
  padding: 20px; /* Espace interne autour du contenu */
  //border: 1px solid #ddd; /* Bordure grise légère */
  border-radius: 2px; /* Bords arrondis */
  font-family: 'BeaufortLoL-Medium', sans-serif;


  /* Image de fond */
  //background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTA1NzQwNC1pbWFnZS1qb2I2MzAtYV8xLmpwZw.jpg");
  //background-image: url("/assets/images/old-vintage-paper-texture-background-time-aged-with-darkened_9901241-transformed.jpeg");
  /* La propriété `background-size: cover` pourrait être ajoutée ici pour couvrir tout le conteneur */
  //background-size: cover;

  background: linear-gradient(0deg, #8f7031, #C89B3C); /* Gradient vertical */
}

/* Header - Titre principal */
header {
  text-align: center; /* Centrage du texte */
  //border-bottom: 2px solid #000; /* Ligne noire en bas du header */
  margin-bottom: 20px; /* Espace sous le header */
  padding-bottom: 10px; /* Espace interne sous le texte */

  //background: linear-gradient(
  //    0deg,
  //    rgba(15,32,65,0.91) -10%,  /* La première couleur couvre 70% */
  //    #a4832a 100%                /* La deuxième couleur commence après */
  //);


  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  border: 1.5px solid black;

  font-size: 1em; /* Taille du texte du titre principal */
  font-family: 'BeaufortLoL-Bold', sans-serif;

  h1{
    font-size: 3em;
    margin-bottom: 10px;
    margin-top: 15px;
  }
}

/* Définition des différents gradients pour chaque alignement */
/* Lawful Alignments */
header.lawful-good {
  background: linear-gradient(0deg, rgba(30,147,30,0.91) -10%, #a4832a 100%); /* Lawful Good - Vert */
}

header.lawful-evil {
  background: linear-gradient(0deg, rgba(171,52,52,0.91) -10%, #a4832a 100%); /* Lawful Evil - Rouge */
}

header.lawful-neutral {
  background: linear-gradient(0deg, rgba(49,49,180,0.91) -5%, #a4832a 100%); /* Lawful Neutral - Bleu */
}

/* Neutral Alignments */
header.neutral-good {
  background: linear-gradient(0deg, rgba(33,167,169,0.91) -10%, #a4832a 100%); /* Neutral Good - Cyan */
}

header.neutral-evil {
  background: linear-gradient(0deg, rgba(128, 0, 128, 0.91) -10%, #a4832a 100%); /* Neutral Evil - Violet */
}

header.neutral-true {
  background: linear-gradient(0deg, rgba(169, 169, 169, 0.91) -5%, #a4832a 100%); /* True Neutral - Gris */
}

/* Chaotic Alignments */
header.chaotic-good {
  background: linear-gradient(0deg, rgb(12,26,54) -10%, #a4832a 100%); /* Chaotic Good - Dark blue */
}

header.chaotic-evil {
  background: linear-gradient(0deg, rgb(243,3,3) -5%, #a4832a 100%); /* Chaotic Evil - Rouge vif */
}

header.chaotic-neutral {
  background: linear-gradient(0deg, rgba(37,25,6,0.91) -5%, #a4832a 100%); /* Chaotic Neutral - Dark brown */
}






/* Informations supplémentaires affichées sous le titre */
.info {
  display: flex; /* Utilisation du modèle Flexbox */
  flex-direction: column; /* Empilement vertical */
  justify-content: center; /* Centrage vertical */
  font-size: 1.5em; /* Taille réduite du texte */
  font-family: 'BeaufortLoL-Medium', sans-serif;

  .classes{
    display: flex;
    align-self: center;
    gap: 10px;
  }

}

strong{
  font-family: 'BeaufortLoL-Bold', sans-serif;
}

/* Style de l'image décorative dans le header */
.header-decoration img {
  margin-top: 10px;
  width: 100%; /* L'image prendra toute la largeur disponible */
  height: auto; /* Conserve le ratio de l'image */
  max-height: 100%; /* Ne dépasse pas la hauteur de la section */
  object-fit: contain; /* S'assure que l'image reste entièrement visible */
  display: block; /* Supprime l'espace blanc sous l'image */
}

.block-decoration {
  padding-bottom: 10px;
  img{
    width: 100%;
  }
}

/* Section des statistiques */
.up-blocks {
  display: flex; /* Modèle Flexbox pour aligner les blocs de statistiques */
  justify-content: space-between; /* Espacement égal entre les blocs */
  margin-bottom: 20px; /* Espace sous la section */
  border: 2px solid black;
  padding: 10px;
}


.stat-block {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 15%; /* Chaque bloc occupe 45% de la largeur disponible */
  //border: 1px solid black;
  padding: 10px;
  //background-color: blue;

  .stat-block-name {
    align-self: center;
  }


  .stats{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    //align-items: center;
    gap: 5px;
    width: 60%;
    align-self: center;
    border: 1px solid black;
    padding: 10px;

    .stat{
      display: flex;
      gap: 7px;
      justify-content: space-between;

      .stat-name{
        font-family: 'BeaufortLoL-Bold', sans-serif;
      }

    }
  }

}

.description-block{
  display: flex;
  flex-direction: column;
  width: 70vh;
  //background-color: red;
  padding: 10px;
  //border: 1px solid black;

  .description-block-name{
    align-self: center;
  }

  .description-infos{
    display: flex;
    justify-content: center;
    font-size: 1.3em;

    .description-infos-left{
      display: flex;
      flex-direction: column;
      gap: 10px;
      //border: 1px solid black;
      width: 50%;
      padding: 10px;
      text-align: center;
    }

    .description-infos-right{
      display: flex;
      flex-direction: column;
      gap: 10px;
      //border: 1px solid black;
      width: 50%;
      padding: 10px;
      text-align: center;
    }


  }
}

.spell-block{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  width: 20%;


  align-content: center;
  justify-content: center;


  .spell-block-name{
    align-self: center;
  }

  .spells-list{
    font-size: 1.2em;
    display: flex;
    flex-direction:column;
    padding: 10px;
    border: 1px solid black;
    width: 80%;

    .spell{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 5px;
    }

  }


}





.block-name{
  font-size: 1.5em;
  font-family: 'BeaufortLoL-Bold', sans-serif;
  margin-top: -35px;
}





