<section id="campaignHomeHeader">
  <div id="campaignHomeHeadBtn">
    <button id="createCampaign" [routerLink]="'/campaign/campaignCreation/home'">Create Campaign</button>
    <button id="backHome" [routerLink]="'/home'">Go back Home</button>
  </div>
  <h2 class="title">Campaigns</h2>
</section>
<section class="campaignCards">
  @for (card of campaignHomeCard; track card.id) {
    <div class="campaignCard" [routerLink]="'/campaign/' + card.id">
      <h3>{{card.campaignName}}</h3>
      <span id="summary">Summary</span>
      <p>{{card.campaignSummary}}</p>
      <span class="capacity">{{card.minCapacity}} - {{card.maxCapacity}}</span>
    </div>
  }
</section>
