:host {
  display: flex;
  flex-direction: column;

  .campaignOverviewHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      position: absolute;
      top: 0;
      left: 0;
      margin: 1rem;
    }

    h2 {
      display: flex;
      justify-content: center;
      margin: 2rem;
    }
  }

  .campaignOverviewBody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3rem;

    .campaignOverviewDetails {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border: black solid 3px;
      width: 20rem;
      height: 35rem;
      overflow: auto;
    }

    .campaignOverviewCard {
      border: black solid 3px;
      width: 15rem;
      height: 35rem;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        //object-position: center;
      }

      span {
        position: absolute;
        font-size: 30px;
        color: white;
        height: fit-content;
        text-align: center;
        width: 100%;
        top: 50%;
        transform: translate(0%,-50%);
      }
    }
  }
}
