<section class="navBar">
  <button class="navBarBtn" [routerLink]="'/campaign/campaignCreation/basicsInfo'">Basics</button>
  <button class="navBarBtn" [routerLink]="'/campaign/campaignCreation/region'">World Building</button>
  <button class="navBarBtn" [routerLink]="'/campaign/campaignCreation/mainQuest'">Quests</button>
  <button class="navBarBtn" [routerLink]="'/campaign/campaignCreation/scenario'">Scenario</button>
</section>
<div>
  <button class="backBtn" [routerLink]="'/campaign'">Back</button>
</div>
