<section class="navBar">
  <div class="backBtnContainer">
    <button class="backBtn" [routerLink]="'/campaign'">Back to Home</button>
  </div>
  <div class="navBarBtnContainer">
    <button class="navBarBtn" [routerLink]="'/campaign/campaignCreation/basicsInfo'">Basics</button>
    <button class="navBarBtn" [routerLink]="'/campaign/campaignCreation/region'">World Building</button>
    <button class="navBarBtn" [routerLink]="'/campaign/campaignCreation/mainQuest'">Quests</button>
    <button class="navBarBtn" [routerLink]="'/campaign/campaignCreation/scenario'">Scenario</button>
  </div>
</section>

