<header>
  <h1>Character Creation</h1>
</header>

<section>
  <form [formGroup]="fullForm" (ngSubmit)="submit()">

    <div formGroupName="characterForm">
      <div class="characterForm">
        <div class="characterForm-name">
          <label for="name">Name : </label>
          <input id="name" type="text" placeholder="Name" formControlName="name">
        </div>

        <div class="characterForm-hp">
          <label for="hp">HP : </label>
          <input id="hp" type="number" placeholder="Hp" formControlName="hp">
        </div>

        <div class="characterForm-races">
          <label for="race">Race : </label>
          <select id="race" formControlName="race">
            <option *ngFor="let race of this.races?.results" [value]="race.index">
              {{race.name}}
            </option>
          </select>
        </div>

        <div class="characterForm-alignment">
          <label for="alignment">Alignment : </label>
          <select id="alignment" formControlName="alignment">
            <option *ngFor="let alignment of Alignment | keyvalue" [value]="alignment.key">
              {{alignment.value | titlecase}}
            </option>
          </select>
        </div>

        <div class="characterForm-backstory">
          <label for="backstory">Backstory : </label>
          <textarea id="backstory" rows="5" cols="15" formControlName="backstory"></textarea>
        </div>

        <div class="characterForm-background">
          <label for="background">Background : </label>
          <input id="background" type="text" placeholder="Sage" formControlName="background">
        </div>




        <div formArrayName="classes">
          <h3>Classes : </h3>
          @for(classe of classes.controls; track i; let i = $index){
            <div>
              <label for="class-{{i}}">Classe {{i+1}} : </label>
              <select id="class-{{i}}" [formControlName]="i">
                @for(apiClasse of classesB; track apiClasse.index){
                  <option [value]="apiClasse.index"
                          [hidden]="isClassSelected(apiClasse.index)">
                    {{apiClasse.name}}
                  </option>
                }
              </select>
            </div>
          }

        </div>
        <div>
          @if (classes.length < 2){
            <button type="button" (click)="addClass()">
              Add class
            </button>
          }
        </div>

      </div>

    </div>


    <div [formGroup]="featsForm">
      <div class="testFeats">
        <h2>Feats</h2>
        <label for="feat-name">Name : </label>
        <input id="feat-name" type="text" placeholder="Feat" formControlName="name">
        <label for="feat-notes">Notes : </label>
        <textarea id="feat-notes" formControlName="notes" placeholder="Description"></textarea>
        <button (click)="addFeat()">Add feat</button>
      </div>

      <div class="testFeatsList">
        <p *ngFor="let feat of featsList">
          {{ feat.name}}
        </p>
      </div>
    </div>


    <div [formGroup]="statsForm">
      <div class="statsForm">
          @for(stat of stats?.results; track stat.index){
            <div class="statsForm-stat-name">
              <label [for]="stat.index">{{stat.name}}</label>
            </div>
            <div class="statsForm-stat-value">
              <input [id]="stat.index" type="number" placeholder="0" [formControlName]="stat.index">
            </div>
          }

      </div>

    </div>


<button type="submit"> Submit</button>
  </form>
</section>
