

<!-- character-creation.component.html -->
<div class="character-creation-container">
  <h2>Character Creation</h2>
  <div class="character-creation-card">
    <form [formGroup]="fullForm" (ngSubmit)="submit()">
      <mat-stepper [linear]="false" #stepper>
        <!-- Première étape : Informations de base -->
        <mat-step [stepControl]="characterForm" formGroupName="characterForm">
          <ng-template matStepLabel>Basic Infos</ng-template>

          <div class="form-content">
            <h2>Basics infos</h2>

            <div class="form-group">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Character Name" formControlName="name">
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field>
                <mat-label>HP</mat-label>
                <input matInput type="number" placeholder="Hit Points" formControlName="hp">
              </mat-form-field>
            </div>

            <!-- Autres champs similaires... -->

            <div class="form-group">
              <mat-form-field class="characterForm-races">
                <mat-label>Race : </mat-label>
                <mat-select id="race" formControlName="race">
                  <mat-option *ngFor="let race of this.races?.results" [value]="race.index">
                    {{race.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="characterForm-alignment">
                <mat-label>Alignment : </mat-label>
                <mat-select id="alignment" formControlName="alignment">
                  <mat-option *ngFor="let alignment of Alignment | keyvalue" [value]="alignment.key">
                    {{alignment.value | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="characterForm-backstory">
                <mat-label>Backstory : </mat-label>
                <textarea matInput id="backstory" rows="5" cols="15" formControlName="backstory"></textarea>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="characterForm-background">
                <mat-label>Background : </mat-label>
                <input matInput id="background" type="text" placeholder="Sage" formControlName="background">
              </mat-form-field>
            </div>

            <div class="form-group">
              <div formArrayName="classes">
                <h2>Classes : </h2>
                @for(classe of classes.controls; track i; let i = $index){
                  <mat-form-field>
                    <mat-label>Classe {{i+1}} : </mat-label>
                    <mat-select id="class-{{i}}" [formControlName]="i">
                      @for(apiClasse of classesB; track apiClasse.index){
                        <mat-option [value]="apiClasse.index"
                                    [hidden]="isClassSelected(apiClasse.index)">
                          {{apiClasse.name}}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                }
              </div>
              <div>
                @if (classes.length < 2){
                  <button mat-flat-button type="button" (click)="addClass()">
                    Add class
                  </button>

                }
              </div>
            </div>


            <div class="navigation-buttons">
              <button mat-flat-button matStepperPrevious type="button" disabled>Previous</button>
              <button mat-flat-button matStepperNext type="button">Next</button>
            </div>
          </div>
        </mat-step>

        <!-- Étape des Feats -->
        <mat-step [stepControl]="featsForm" formGroupName="featsForm">
          <ng-template matStepLabel>Feats</ng-template>

          <div class="form-content">
            <h2>Character Feats</h2>

            <div class="form-group">
              <mat-form-field>
                <mat-label>Feat Name</mat-label>
                <input matInput type="text" placeholder="Feat" formControlName="name">
              </mat-form-field>

              <mat-form-field class="feats-notes">
                <mat-label >Notes : </mat-label>
                <textarea matInput id="feat-note" formControlName="notes" placeholder="Description"  rows="5" cols="30" style="resize: none" class="h-full"></textarea>
              </mat-form-field>
              <button mat-flat-button (click)="addFeat()">Add feat</button>
            </div>

            <div class="feat-list">
              <mat-card *ngFor="let feat of featsList" class="feat-card">
                <mat-card-header>
                  <mat-card-title>{{ feat.name }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>{{ feat.notes }}</p>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="navigation-buttons">
              <button mat-flat-button matStepperPrevious type="button">Previous</button>
              <button mat-flat-button matStepperNext type="button">Next</button>
            </div>
          </div>
        </mat-step>

        <!-- Étape des Stats -->
        <mat-step [stepControl]="statsForm" formGroupName="statsForm">
          <ng-template matStepLabel>Stats</ng-template>

          <div class="form-content">
            <h2>Character Stats</h2>

            <div class="stats-grid">
              @for(stat of stats?.results; track stat.index){
                <div class="form-group">
                  <label [for]="stat.index">{{stat.name}}</label>
                  <input [id]="stat.index" type="number" placeholder="0" [formControlName]="stat.index">
                </div>
              }
            </div>

            <div class="navigation-buttons">
              <button mat-flat-button matStepperPrevious type="button">Previous</button>
              <button mat-flat-button matStepperNext type="button">Next</button>
            </div>
          </div>
        </mat-step>

        <mat-step [stepControl]="descriptionForm" formGroupName="descriptionForm">
          <ng-template matStepLabel>Description</ng-template>
          <div class="form-content">

            <h2>Character Description</h2>
            <div class="form-group">
              <div class="form-group-left">
                <mat-form-field>
                  <mat-label>Age</mat-label>
                  <input matInput type="number" placeholder="Age" formControlName="age">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Height</mat-label>
                  <input matInput type="text" placeholder="Height" formControlName="height">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Weight</mat-label>
                  <input matInput type="text" placeholder="Weight" formControlName="weight">
                </mat-form-field>
              </div>
              <div class="form-group-right">
                <mat-form-field>
                  <mat-label>Eyes</mat-label>
                  <input matInput type="text" placeholder="Eyes" formControlName="eyes">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Skin</mat-label>
                  <input matInput type="text" placeholder="Skin" formControlName="skin">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Hair</mat-label>
                  <input matInput type="text" placeholder="Skin" formControlName="skin">
                </mat-form-field>

              </div>

            </div>
            <div class="navigation-buttons">
              <button mat-flat-button matStepperPrevious type="button">Previous</button>
              <button mat-flat-button matStepperNext type="button">Next</button>
            </div>
          </div>
        </mat-step>

        <mat-step [stepControl]="spellsForm" formGroupName="spellsForm">
          <ng-template matStepLabel>Spells</ng-template>
          <div class="form-content">
            <h2>Spells</h2>
            <div class="form-group">
              <mat-form-field>
                <mat-label>Spell Name</mat-label>
                <input matInput type="text" placeholder="Abracadbra" formControlName="name">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Spell Level</mat-label>
                <mat-select formControlName="level">
                  @for(level of SpellLevel | keyvalue; track level.key){
                    <mat-option [value]="level.key">
                      {{level.value | titlecase}}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Spell Description</mat-label>
                <input matInput type="text" placeholder="Abracadbra" formControlName="description">
              </mat-form-field>
              <button mat-flat-button (click)="addSpell()">Add spell</button>



            </div>
            <div class="spell-list">
              <mat-card *ngFor="let spell of spellsList" class="feat-card">
                <mat-card-header>
                  <mat-card-title>{{ spell.name }}(Lvl.{{spell.level |titlecase }})</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>{{ spell.description }}</p>
                </mat-card-content>
              </mat-card>
            </div>


            <div class="navigation-buttons">
              <button mat-flat-button matStepperPrevious type="button">Previous</button>
              <button mat-flat-button matStepperNext type="button">Next</button>
            </div>

          </div>
        </mat-step>


      </mat-stepper>
    </form>
  </div>
</div>
