<section class="navBar">
  <app-campaign-creation-nav-bar></app-campaign-creation-nav-bar>
  <app-world-building-creation-nav-bar></app-world-building-creation-nav-bar>
</section>
<section class="factionForm">
  <form class="factionFormInputs" [formGroup]="factionForm" (ngSubmit)="submit()">
    <div class="factionFormInput">
      <label for="factionName">Faction Name</label>
      <input id="factionName" type="text" placeholder="Write the name of your faction" formControlName="factionName">
      <app-form-error [control]="factionForm"></app-form-error>
    </div>
    <div class="factionFormInput">
      <label for="factionDescription">Faction Description</label>
      <input id="factionDescription" type="text" placeholder="Write the description of your faction" formControlName="factionDescription">
    </div>
  </form>
  <button class="saveBtn" type="submit">Save</button>
</section>
