<div class="login-container">
  <div class="welcome-arch top">
    Join us for an adventure
  </div>
  <div class="login-card">
    <h2>Login</h2>
    <form (ngSubmit)="submit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="credentials.username" name="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="credentials.password" name="password">
      </div>
      <button type="submit">Login</button>
    </form>
    <div class="login-footer">
      <p>No account?</p>
      <button (click)="goToRegister()">Click here to register</button>
    </div>
  </div>
  <div class="welcome-arch bottom">
    Embark on your journey
  </div>
</div>


