.layout-with-sidebar {
  display: grid;
  grid-template-columns: 5em 1fr; /* Sidebar fixed at 5em, main content fills the rest */
  height: 100vh;
}

.layout-full {
  display: grid;
  grid-template-columns: 1fr; /* Full width for main content */
  height: 100vh;
}

.sidebar {
  background-color: transparent; /* Sidebar background is controlled by p-sidebar */
}

.main-content {
  padding: 0;
  overflow-y: auto;
  background-color: #fff;
}

