<div class="register-container">
  <div class="register-card">
    <h2>Registration</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()" enctype="multipart/form-data">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
      </div>


      <div class="form-group">
        <label for="image">Profile Picture</label>
        <input type="file" id="image" (change)="onFileSelected($event)">
      </div>
      <button type="submit">Register</button>
    </form>


    <p class="register-footer">
      Already have an account?
      <button type="button" (click)="redirectToLogin()">Click here to log in</button>
    </p>

  </div>
</div>
