<section class="navBar">
  <app-campaign-creation-nav-bar></app-campaign-creation-nav-bar>
  <app-world-building-creation-nav-bar></app-world-building-creation-nav-bar>
</section>
<section class="regionForm">
  <form class="regionFormInputs" [formGroup]="regionForm" (ngSubmit)="submit()">
    <div class="regionFormInput">
      <label for="regionName">Region/country name</label>
      <input id="regionName" type="text" placeholder="Write the name of the region/country" formControlName="regionName">
      <app-form-error [control]="regionForm.get('regionName')"></app-form-error>
    </div>
    <div class="regionFormInput">
      <label for="regionDescription">Region Description</label>
      <input id="regionDescription" type="text" placeholder="Write your region/country description" formControlName="regionDescription">
      <app-form-error [control]="regionForm.get('regionDescription')"></app-form-error>
    </div>
<!--    <div>-->
<!--      <label for="regionPicture">Region Map</label>-->
<!--      <input id="regionPicture" type="file" placeholder="+" accept="jpg">-->
<!--      <app-form-error [control]="regionForm.get('regionPicture')"></app-form-error>-->
<!--    </div>-->
  </form>
  <button class="saveBtn" type="submit">Save</button>
</section>
