:host{
  .page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'BeaufortLoL-Regular', sans-serif;
    background-color:#1a1b2e;
    height: 100vh;
  }



  span{
    font-family: "BeaufortLoL-Bold", sans-serif;
  }

  .block-decoration {
    padding-bottom: 0.1rem;
    img{
      width: 100%;
    }
  }

  .characters{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 5rem;
    padding: 2rem;

    .character-card{
      flex: 1 1 calc(33.33% - 5rem);
      max-width: calc(33.33% - 5rem);
      flex-direction: column;
      border: black solid 3px;
      width: 20rem;
      min-height: 11rem;
      max-height: 12rem;
      overflow: auto;
      padding: 1rem;
      position: relative;
      background: linear-gradient(0deg, #4b4b4b, #6d6d6d);

      .character-card-title{
        display: flex;
        justify-content: center;
        font-size: 1.5em;
       font-family: 'BeaufortLoL-Bold', sans-serif;
        cursor: pointer;

        span{
          display: inline-block;
          transition: transform 0.1s ease-in-out;
        }

        span:hover{
          transform: scale(1.1);
        }

        //&:hover{
        //  font-size: 1.7rem;
        //}

      }

      .character-card-classes{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        padding-bottom: 0.5rem;

        .character-card-class{
          display: flex;
          flex-direction: column;
          text-align: center;

          .character-card-class-name{
            font-family: 'BeaufortLoL-Bold', sans-serif;
            font-size: 1.1em;
          }
        }
      }

      .character-card-stats{
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 1px solid black;

        .character-card-stat{
          display: flex;
          flex-direction: column;
          justify-content: center;
          //padding: 0.5rem;
          //border: 1px solid black;

          .character-card-stat-name{
            font-family: 'BeaufortLoL-Bold', sans-serif;
            font-size: 0.8em;
          }

          .character-card-stat-value{
            text-align: center;
          }
        }
      }

      .character-card-backstory{
        display: flex;
        flex-direction: column;
        padding-top: 1rem;

        span{
          padding-bottom: 0.5rem;
        }

        .character-card-backstory-text{
          border: 1px solid black;
          padding: 0.5rem;
          max-height: 5rem; /* Limite la hauteur de l'élément */
          overflow: hidden; /* Cache le texte excédentaire */
          text-overflow: ellipsis; /* Ajoute les points de suspension (...) */
          display: -webkit-box; /* Utilise un conteneur de type boîte */
          -webkit-line-clamp: 3; /* Nombre de lignes maximum avant de couper */
          -webkit-box-orient: vertical; /* Permet le découpage du texte en lignes */
          line-height: 1.7; /* Ajuste l'espacement des lignes pour éviter les coupures */
        }

      }



    }
  }

}
