<section>
  <button [routerLink]="'/campaign'">Back</button>
  <div>
    <button [routerLink]="'/campaign/campaignCreation/basicsInfo'">Basics</button>
    <button [routerLink]="'/campaign/campaignCreation/region'">World Building</button>
    <button [routerLink]="'/campaign/campaignCreation/mainQuest'">Quests</button>
    <button [routerLink]="'/campaign/campaignCreation/scenario'">Scenario</button>
  </div>
  <div>
    <button [routerLink]="'/campaign/campaignCreation/region'">Region/Country</button>
    <button [routerLink]="'/campaign/campaignCreation/location'">Cities/Points of interest</button>
    <button [routerLink]="'/campaign/campaignCreation/faction'">Factions</button>
    <button [routerLink]="'campaign/campaignCreation/npc'">NPCs</button>
  </div>
</section>
<section>
  <form [formGroup]="locationForm" (ngSubmit)="submit()">
    <div>
      <label for="locationName">Location Name</label>
      <input id="locationName" type="text" placeholder="Write the name of the location" formControlName="locationName">
      <app-form-error [control]="locationForm.get('locationName')"></app-form-error>
    </div>
    <div>
      <label for="locationDescription">Location Description</label>
      <input id="locationDescription" type="text" placeholder="Write the description of your location" formControlName="locationDescription">
      <app-form-error [control]="locationForm.get('locationDescription')"></app-form-error>
    </div>
    <button type="submit">Save</button>
  </form>
</section>
