<section>
  <button [routerLink]="'/campaign'">Back</button>
  <div>
    <button [routerLink]="'/campaign/campaignCreation/basicsInfo'">Basics</button>
    <button [routerLink]="'/campaign/campaignCreation/region'">World Building</button>
    <button [routerLink]="'/campaign/campaignCreation/mainQuest'">Quests</button>
    <button [routerLink]="'/campaign/campaignCreation/scenario'">Scenario</button>
  </div>
  <div>
    <button [routerLink]="'/campaign/campaignCreation/mainQuest'">Main Quest</button>
    <button [routerLink]="'/campaign/campaignCreation/sideQuest'">Side Quest</button>
  </div>
</section>
<section>
  <form [formGroup]="sideQuestForm" (ngSubmit)="submit()">
    <div>
      <label for="sideQuestName">Name</label>
      <input id="sideQuestName" type="text" placeholder="Write the name of the main quest" formControlName="sideQuestName">
      <app-form-error [control]="sideQuestForm"></app-form-error>
    </div>
    <div>
      <label for="sideQuestDescription">Description</label>
      <input id="sideQuestDescription" type="text" placeholder="Write the description of your main quest" formControlName="sideQuestDescription">
      <app-form-error [control]="sideQuestForm"></app-form-error>
    </div>
    <div>
      <label for="sideQuestType">Type</label>
      <input id="sideQuestType" type="text" placeholder="Write the type of your main quest" formControlName="sideQuestType">
      <app-form-error [control]="sideQuestForm"></app-form-error>
    </div>
    <div>
      <label for="sideQuestGiver">Quest giver</label>
      <select id="sideQuestGiver">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div>
      <label for="objectiveName">Objective name</label>
      <input id="objectiveName" type="text" placeholder="Write the name of your objective" formControlName="objectiveName">
      <app-form-error [control]="sideQuestForm"></app-form-error>
    </div>
    <div>
      <label for="objectiveDescription">Objective description</label>
      <input id="objectiveDescription" type="text" placeholder="Write your objective description" formControlName="objectiveDescription">
      <app-form-error [control]="sideQuestForm"></app-form-error>
    </div>
    <div>
      <label for="sideQuestNpc">Link Npc</label>
      <select id="sideQuestNpc">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div>
      <label for="sideQuestLocation">Link location</label>
      <select id="sideQuestLocation">
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <button type="submit">Save</button>
  </form>
</section>
