<section>
  <button [routerLink]="'/campaign'">Back</button>
  <div>
    <button [routerLink]="'/campaign/campaignCreation/basicsInfo'">Basics</button>
    <button [routerLink]="'/campaign/campaignCreation/region'">World Building</button>
    <button [routerLink]="'/campaign/campaignCreation/mainQuest'">Quests</button>
    <button [routerLink]="'/campaign/campaignCreation/scenario'">Scenario</button>
  </div>
  <div>
    <button [routerLink]="'/campaign/campaignCreation/region'">Region/Country</button>
    <button [routerLink]="'/campaign/campaignCreation/location'">Cities/Points of interest</button>
    <button [routerLink]="'/campaign/campaignCreation/faction'">Factions</button>
    <button [routerLink]="'campaign/campaignCreation/npc'">NPCs</button>
  </div>
</section>
<section>
  <form [formGroup]="npcForm" (ngSubmit)="submit()">
    <div>
      <label for="npcName">Npc Name</label>
      <input id="npcName" type="text" placeholder="Write the name of the npc" formControlName="npcName">
      <app-form-error [control]="npcForm"></app-form-error>
    </div>
    <div>
      <label for="npcDescription">Npc Description</label>
      <input id="npcDescription" type="text" placeholder="Write the description of the npc" formControlName="npcDescription">
    </div>
    <button type="submit">Save</button>
  </form>
</section>
